.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

<<<<<<< HEAD
.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

=======
>>>>>>> a5722f90856dacd2fff63f7375f1f2d1246f7f9d
.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}